<!DOCTYPE html>
<html>
    <head>
        <title>RedsGram</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="/" class="navbar-brand">RedsGram</a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <a class="nav-link" href="/">Login</a>
                    <a class="nav-link" href="/">Sign Up</a>
                    <a class="nav-link" href="/">Log Out</a>
                </ul>
            </div>
        </nav>